/*============== GOOGLE FONTS =====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');

/*=================================================*/

 /* ================== heading ==================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box; 
}

html{
  
    font-size:  10px;
    font-family:  sans-serif  ;
    color: rgba(238, 238, 238, 0.726);
    
}

body{
    width: 100%;
    height: 100%;
   background: url('/images/sitebg2.jpg')no-repeat center fixed; 
   
}

a{
    text-decoration: none;
    color: rgba(255, 245, 238, 0.753);

}

p{
    font-size: 1.8rem;
    font-weight: 300;
}
img{
  width: 30%;
}

.container{
  width: 90%;
  max-width:120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

section{
  padding: 6rem;
}

.section-heaading{
  text-align: center;
 margin-bottom: 10rem;
}

.section-heaading h1{
  font-size: 3.5rem;
  color: rgb(255,255,255);;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem; 
}

.section-heaading h1::before,
.section-heaading h1::after{
  content:'';
  position: absolute;
  bottom: -.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color:rgb(255,255,255,0.75);
}
.section-heaading h1::before{
  width:10rem;
  height: 3px;
  border-radius: .8rem;
} 
.section-heaading h1::after{
  width: 1.5rem;
  height: 1.5px;
  border-radius: 100%;
  bottom:-1rem;
}

.section-heaading h6{
  font-size: 1.6rem;
  font-weight: 300
}

.has-margin-right{
  margin-right: 5rem;
}

header{
  width: 100%;
  height: 100vh;
}   

/* ========================================================= */


  /* ==================== navigation links =================== */
.top-nav{
  width: 100%;
  height: 10vh;
  position: fixed;
  top: -100vh;  
  z-index: 50;
  background-color:rgb(14, 22, 71);
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transition: all 650ms cubic-bezier(1,0,0,1)
}

.nav-list{
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

li{
  margin: 0 2rem;

}

.nav-link{
  font-family: 'DM Serif Display', sans-serif;
  font-size: 5rem;
  padding: 1rem;

}

.nav-link:hover,

.nav-link:focus{
  background-image: linear-gradient(45deg, #d11fc2, #b2cf0d);
    background-size: 100%;
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
   
}

.top-nav.open{
top:0;
border-radius:initial;
}


  /* ====================================================== */



/* ======================   Help   ======================== */

.menu-toggler{
  position:absolute;
  top: 5px;
  right:5px;
  width: 5px;
  height: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
  transition: transform 650ms ease-out;
}


.menu-toggler.open{
  transform: rotate(-45deg);
}
   
.bar{
  background: linear-gradient(to right,#ffe838, #fd57bf);
  width: 100%;
  height: 4px;
  border-radius: .8rem ;
} 
 
.bar.half{
  width: 50%;

}

.bar.start{
  transform-origin: right;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open.bar.start{
  transform: rotate(-450)translateX(.8rem);
}

.bar.end{
  align-self: flex-end;
  transform-origin: left;
   transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57); 
  
}

.open.bar.end{
  transform: rotate(-450)translateX(-.8rem);
}

/* ================================================================= */
 
.landing-text{
  position: absolute; 
  top:50%;
  left:50%;
  transform:translate(-50%, -50%) ;
  width: 100%;
  text-align: center;
  z-index: 1;

}

.landing-text h1{
  font-size: 20rem;
  font-family:  'DM Serif Display', serif;;
  background-image: linear-gradient(45deg, #d11fc2, #b2cf0d);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  padding:1rem;
  user-select: none;  
}

.landing-text h6{
  font-size: 2rem;
  font-weight: 300;
} 

.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: right 40rem;
}

.about-heading{
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;

}

.about-heading h1{
  font-size: 10rem ;
  opacity: .3;

}
.about-heading h6{
  font-size: 2rem ;
  font-weight: 300;

} 
.about-details{  
  flex: 1;
}

.profile-img  {
  flex: 1;
  margin-left:10rem;
}



/* ================= Social media Icons================ */
.social-media{
  margin-top: 5rem;
}

.social-media i{
  font-size: 5rem;
  transition: color 650ms;
}

.fa-instagram-square :hover{

  color:red;
}
.fa-git-square :hover{

  color:red;
}

.fa-linkedin-square :hover{
  
   color:red;
}


/* ========================================================== */
 
/* ===================== my skills ========================== */

my-skills{
    margin-top:  10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2.5rem,1fr)); 
  /* This allows a grid that can wrap with out the need for media Q's */
  grid-gap:2.5rem;
  text-align: center;
}

.skill{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.skill h1{
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 2rem -2px 2rem 0,
}

.icon-container {
  width: 10rem;
  height:10rem;
  border:3px solid #ffe838;
  background-color: #fd57bf;
  margin-bottom: 2rem;
  display: flex;
  transform:rotate (45deg);
}

.icon-container i{
  color: #ffe838;
  font-size:5rem;
  margin: auto;
  transform:rotate(-45deg)
}

/* ===================================================== */

/* ====================== portfolio ===================== */

.portfolio-item{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
   
}
.portfolio-item:last-child{
  margin-bottom: 0;
}

.profile-img{
  flex:1;
}

.portfolio-description{
  flex:1;
}
.portfolio-description h1{
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem 0;

}

.portfolio-description h6{
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.3;
}


.portfolio-description .cta{
  display: inline-block;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #3883ff;
  transition: color 650ms;
}

.portfolio-description .cta:hover{
  color:#2f67cd
}

 

/* =====================Time-Line====================== */

.timeline ul{
  border-left: 4px solid #ffe838;
  border-radius: .8rem;
  background-color: rgba(0.0.0.0.05);
  margin: 0 auto;
  position: relative;
  padding: 5rem;
  list-style: none;
  text-align: left;
  width: 70%;
}

.timeline h1{
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1rem;
  opacity: .3;
}

.timeline .date{
  border-bottom: 1px solid rgba(255,255,255,0.1);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position:relative
}

.timeline .data:last-of-type{
  padding-bottom:0;
  margin-bottom:0;
  border:none;
}

.timeline .date::before,
.timeline .date::after{
  position: absolute;
  display:block;
  top:50%;
  transform:rotateY(-50%);
}

.timeline .date::before{
  content: attr(data-date);
  left:-21rem;
  text-align:right;
  min-width:12rem;
  font-size: 1.5rem;
}

.timeline .date::after{
  content: ' ';
  box-shadow: 0 0 0 4px #fd57bf;
  border-radius: 100%;
  left: 8rem;
  height:1.5rem;
  width:1.5rem;
  background-color: #313534;
}

/* ================================================== */

/* =======================contact===================== */

.contact{
  background-color: #221e3f;
}


form{
  width:70%;
  margin:0 auto;
}

form label{
  font-size:1.5rem;
}

input,
select,
textarea{
  width:100%;
  padding:1rem;
  margin-bottom:5px;
  border:none;
  outline-color: #fd57bf;
}

input[type="submit"]{
width:initial;
background-color: #fd57bf;
color: #eee;
padding:1rem, 2rem;
border-radius: .8rem;
cursor: pointer;
transition: background-colour 650ms;
}


input[type="submit"]:hover{
  
}
/* ================================================== */















/* .fa {
  padding: 20px;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}

.fa fa-git{
  .fa-instagram {
    background: #125688;
    color: white; */
}













/* ===== VARIABLES CSS =====
:root {
  --header-height: 3rem;

  *========== Colors ==========*
  --first-color: rgb(83, 143, 255);
  --first-color-alt: #048654;
  --title-color: white;
  --text-color: white;
  --text-color-light: rgb(180, 180, 180);
  --body-color: rgb(234, 81, 90);
  --container-color:black;

  /*========== Font and typography ==========*
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  *========== Font weight ==========*
  --font-medium: 500;
  --font-semi-bold: 600;

  *========== Margenes ==========*
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  *========== z index ==========*
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px){
  :root{
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

*========== BASE ==========*
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

*========== Variables Dark theme ==========*
body.dark-theme{
  --title-color: #F1F3F2;
  --text-color: #C7D1CC;
  --body-color: #1D2521;
  --container-color: #27302C;
}

*========== Button Dark/Light ==========*
.change-theme{
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
}

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,h2,h3,p,ul{
  margin: 0;
}

ul{
  padding: 0;
  list-style: none;
}

a

*========== LAYOUT ==========*
.bd-container{
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid{
  display: grid;
  gap: 1.5rem;
}



*========== HOME ==========*
.home__container{
  height: calc(100vh - var(--header-height));
  align-content: center;
}



.hello {
    color:#ea5e66;
    font-family: 'DM Serif Display', serif;
    font-size:400px;
    margin-left: 20%;


} */


